/*#wrapper{
    position:relative;
}*/
body{
    background-color: black;
}
#wrapper{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:100px;
}
#myImage:hover{
    
}
h2{
    color:white;
    font-family:fantasy;
}
